@css {
  @import url(http://fonts.googleapis.com/css?family=Francois+One);
  @import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
  body,html,div,img,label,p,h1,h2,h3,h4,ul,ol,li,form,a,th,td{border:0;outline:none;margin:0;padding:0}
  ul,ol{list-style:none}
  img{border:0}
  a{text-decoration:none;color:#ffffff}
  .clear{content:".";display:block;height:0;clear:both;visibility:hidden}
}

.left
  float: left
  text-align: right 

.right
  float: right
  text-align: left

body
  background: url(assets/bg.png)
  font: 14px Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif

#container
  width: 700px
  margin: 40px auto
  text-align: center

  h1
    font-family: 'Francois One', sans-serif
    font-size: 70px
    text-shadow: 2px 8px #B5C1B8, -1px -1px #FFFFFF
    color: #FFFFFF

  .colour
    width: 250px
    height: 250px
    display: block
    float: left
    margin-top: 50px

  #new, #original
    background-color: #191919

  #original
    margin-left: 100px

  #controls
    margin-top: 50px
    
    #slider
      margin: 40px 0 0 100px
      width: 500px

    input[type="text"]
      width: 145px
      font-size: 30px
      margin: 5px 0
      padding: 8px 10px
      outline: none
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #EEEEEE
      color: #A9A9A9
      text-align: center
      &:first-child
        margin: 0 80px 0 150px
      &:focus
        -moz-box-shadow: 0 3px 3px 0 rgba(0, 171, 250, 0.6), 0 0 3px 3px rgba(0, 171, 250 ,0.3);
        box-shadow: 0 3px 3px 0 rgba(0, 171, 250, 0.6), 0 0 3px 3px rgba(0, 171, 250, 0.3);

    input[type="range"]
      margin-top: 40px
      width: 400px

    #original-value
      float: left

    #new-value
      float: right

.hw
  font-family: 'Gloria Hallelujah', cursive
  font-size: 20px
  width: 100px
  margin: 10px 20px 0 20px;

#light-to-dark
  margin: 0px 0 0 100px
  height: 5px
  width: 500px 
  background-image: linear-gradient(left , #000000 0%, #FFFFFF 60%)
  background-image: -o-linear-gradient(left , #000000 0%, #FFFFFF 60%)
  background-image: -moz-linear-gradient(left , #000000 0%, #FFFFFF 60%)
  background-image: -webkit-linear-gradient(left , #000000 0%, #FFFFFF 60%)
  background-image: -ms-linear-gradient(left , #000000 0%, #FFFFFF 60%)

footer
  text-align: center
  margin-top: 50px
  font-weight: bold
  color: #A2A2A2
