@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
body,html,div,img,label,p,h1,h2,h3,h4,ul,ol,li,form,a,th,td{border:0;outline:none;margin:0;padding:0}
ul,ol{list-style:none}
img{border:0}
a{text-decoration:none;color:#ffffff}
.clear{content:".";display:block;height:0;clear:both;visibility:hidden}
.left{float:left;text-align:right}
.right{float:right;text-align:left}
body{background:url("assets/bg.png");font:14px Arial,Helvetica,"Helvetica Neue",Verdana,sans-serif}
#container{width:700px;margin:40px auto;text-align:center;}
#container h1{font-family:"Francois One",sans-serif;font-size:70px;text-shadow:2px 8px #b5c1b8,-1px -1px #fff;color:#fff}
#container .colour{width:250px;height:250px;display:block;float:left;margin-top:50px}
#container #new,#container #original{background-color:#191919}
#container #original{margin-left:100px}
#container #controls{margin-top:50px;}
#container #controls #slider{margin:40px 0 0 100px;width:500px}
#container #controls input[type="text"]{width:145px;font-size:30px;margin:5px 0;padding:8px 10px;outline:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #eee;color:#a9a9a9;text-align:center;}
#container #controls input[type="text"]:first-child{margin:0 80px 0 150px}
#container #controls input[type="text"]:focus{-moz-box-shadow:0 3px 3px 0 rgba(0,171,250,0.60),0 0 3px 3px rgba(0,171,250,0.30);box-shadow:0 3px 3px 0 rgba(0,171,250,0.60),0 0 3px 3px rgba(0,171,250,0.30)}
#container #controls input[type="range"]{margin-top:40px;width:400px}
#container #controls #original-value{float:left}
#container #controls #new-value{float:right}
.hw{font-family:"Gloria Hallelujah",cursive;font-size:20px;width:100px;margin:10px 20px 0 20px}
#light-to-dark{margin:0 0 0 100px;height:5px;width:500px;background-image:linear-gradient(left,#000 0%,#fff 60%);background-image:-o-linear-gradient(left,#000 0%,#fff 60%);background-image:-moz-linear-gradient(left,#000 0%,#fff 60%);background-image:-webkit-linear-gradient(left,#000 0%,#fff 60%);background-image:-ms-linear-gradient(left,#000 0%,#fff 60%)}
footer{text-align:center;margin-top:50px;font-weight:bold;color:#a2a2a2}
